[Unit]
Description=Doorman Go Service
ConditionPathExists=/home/fuks
After=network.target

[Service]
Type=simple
User=fuks
Group=fuks

WorkingDirectory=/home/fuks
ExecStart=/home/fuks/go/bin/doorman

Restart=on-failure
RestartSec=10

StandardOutput=append:/var/log/doorman.log
StandardError=append:/var/log/doorman.log

[Install]
WantedBy=multi-user.target
